In [73]:
import pandas as pd
import numpy as np
import os
from bson.objectid import ObjectId

pd.options.display.max_columns=None

In [74]:
os.chdir("/Users/sakshamarora/Documents/6748 Practicum/project/GT_MSA_LBA")

In [75]:
league = 'NCAAW1+'
season = '22-23'
TEAM_ID = "618ade0180945020656b09d9"
LAST_X_GAMES = 10
NUM_RECOMMENDATIONS = 10
MIN_ATTEMPTS_VALIDITY = 3

In [76]:
stars = pd.read_pickle(f'data/processed_data/{league}_{season}_stars.pickle')

In [77]:
relevant_columns =["shot_id","team_id","player_id","game_id","date","Zone","Stat","Shot_type","ptr","epps","made"]

In [78]:
stars = stars[relevant_columns]

In [79]:
stars["apps"] = stars["ptr"]*stars["made"]

In [80]:
stars

,shot_id,team_id,player_id,game_id,date,Zone,Stat,Shot_type,ptr,epps,made,apps
0,636a63d48efc1cede33f6085,618ae61080945020656b1389,636a638f8efc1cede33f604c,636a63fb8efc1cede33f64e6,2022-11-07,1,TwoMiss,Turnaround,2,0.789695,0,0
1,636a63d48efc1cede33f6086,618ae61080945020656b1389,636a63908efc1cede33f604d,636a63fb8efc1cede33f64e6,2022-11-07,1,TwoMiss,Layup,2,0.874723,0,0
2,636a63d48efc1cede33f6088,618ae61080945020656b1389,636a638f8efc1cede33f604a,636a63fb8efc1cede33f64e6,2022-11-07,2-1,TwoMiss,Jumpshot,2,0.436325,0,0
3,636a63d48efc1cede33f608a,618ae61080945020656b1389,636a638f8efc1cede33f604b,636a63fb8efc1cede33f64e6,2022-11-07,1,TwoMiss,Layup,2,0.998674,0,0
4,636a63d48efc1cede33f6095,618ae61080945020656b1389,636a63908efc1cede33f6050,636a63fb8efc1cede33f64e6,2022-11-07,3-2,TwoMake,Pullup,2,1.967884,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
664649,645d57b639354d6a0fda3370,618ade0180945020656b09c1,62015920f0c6900a973d6d28,645d57b639354d6a0fda3449,2023-03-16,6-2,ThreeMake,Jumpshot,3,1.012287,1,3
664650,645d57b639354d6a0fda3380,618ade0180945020656b09c1,62015920f0c6900a973d6d28,645d57b639354d6a0fda3449,2023-03-16,6-1,ThreeMiss,Jumpshot,3,0.835843,0,0
664651,645d57b639354d6a0fda3382,618ade0180945020656b09c1,6202f9c97978d61a0f2d744a,645d57b639354d6a0fda3449,2023-03-16,7-1,ThreeMake,Jumpshot,3,0.824968,1,3
664652,645d57b639354d6a0fda3386,618ade0180945020656b09c1,62015920f0c6900a973d6d22,645d57b639354d6a0fda3449,2023-03-16,6-1,ThreeMiss,Jumpshot,3,0.675226,0,0
664653,645d57b639354d6a0fda338c,618ade0180945020656b09c1,6201591ff0c6900a973d6d1e,645d57b639354d6a0fda3449,2023-03-16,7-2,ThreeMake,Jumpshot,3,0.444996,1,3

In [81]:
def get_team_last_games(stars_df,team_id,last_x_games):
    master = stars_df.loc[stars_df.team_id==team_id].sort_values(by="date",ascending=False).reset_index(drop=True)
    all_games = master[["game_id","date"]].drop_duplicates().reset_index(drop=True)
    if all_games.shape[0]>=last_x_games:
        rel_games = all_games.iloc[0:last_x_games]["game_id"]
        master = master.loc[master.game_id.isin(rel_games)].reset_index(drop=True)
        print(f"Number of games selected {rel_games.shape[0]}")
        return master
    elif all_games.shape[0]<last_x_games:
        print(f"Number of games selected {all_games.shape[0]}")        
        return master

In [82]:
relevant_stars = get_team_last_games(stars,ObjectId(TEAM_ID),LAST_X_GAMES)

Number of games selected 10

In [83]:
relevant_stars

,shot_id,team_id,player_id,game_id,date,Zone,Stat,Shot_type,ptr,epps,made,apps
0,641458e7cee81cb222896936,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d6c,641458e8cee81cb222896a4f,2023-03-16,7-2,ThreeMake,Jumpshot,3,0.652033,1,3
1,641458e7cee81cb222896887,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d6a,641458e8cee81cb222896a4f,2023-03-16,2-2,TwoMiss,Jumpshot,2,0.706614,0,0
2,641458e7cee81cb222896822,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d6b,641458e8cee81cb222896a4f,2023-03-16,4-2,TwoMiss,Jumpshot,2,0.647723,0,0
3,641458e7cee81cb222896836,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d68,641458e8cee81cb222896a4f,2023-03-16,1,TwoMake,Layup,2,1.346948,1,2
4,641458e7cee81cb222896838,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d68,641458e8cee81cb222896a4f,2023-03-16,1,TwoMake,Layup,2,1.295544,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
619,63e9cbe0d07ab6d45f79ccca,618ade0180945020656b09d9,6319ac9f6ef6e72cae9b8451,63e9cbe2d07ab6d45f79cfbf,2023-02-11,6-2,ThreeMiss,Jumpshot,3,1.067950,0,0
620,63e9cbe0d07ab6d45f79ccb3,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d6b,63e9cbe2d07ab6d45f79cfbf,2023-02-11,6-2,ThreeMiss,Jumpshot,3,1.042934,0,0
621,63e9cbe0d07ab6d45f79cca9,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d65,63e9cbe2d07ab6d45f79cfbf,2023-02-11,6-1,ThreeMiss,Jumpshot,3,1.043360,0,0
622,63e9cbe0d07ab6d45f79cca1,618ade0180945020656b09d9,6318d6a1834eb52dd66c8d6c,63e9cbe2d07ab6d45f79cfbf,2023-02-11,4-2,TwoMiss,Jumpshot,2,0.628026,0,0
623,63e9cbe0d07ab6d45f79cd4b,618ade0180945020656b09d9,6318d6a0834eb52dd66c8d64,63e9cbe2d07ab6d45f79cfbf,2023-02-11,6-2,ThreeMake,Jumpshot,3,0.836278,1,3

In [84]:
a = relevant_stars.groupby(["player_id","Zone","Shot_type","ptr"],as_index=False)[["epps","apps"]].mean().rename(columns={"epps":"mean_epps","apps":"mean_apps"})
b= relevant_stars.groupby(["player_id","Zone","Shot_type","ptr"],as_index=False)["shot_id"].count().rename(columns={"shot_id":"num_attempts"})
stats = b.merge(a,on=["player_id","Zone","Shot_type","ptr"],how="left")
stats

,player_id,Zone,Shot_type,ptr,num_attempts,mean_epps,mean_apps
0,6318d6a0834eb52dd66c8d64,1,Layup,2,29,1.170889,1.517241
1,6318d6a0834eb52dd66c8d64,2-1,Layup,2,2,0.807694,1.000000
2,6318d6a0834eb52dd66c8d64,2-2,Jumpshot,2,2,0.517870,1.000000
3,6318d6a0834eb52dd66c8d64,2-2,Layup,2,1,0.768718,0.000000
4,6318d6a0834eb52dd66c8d64,2-2,Turnaround,2,1,0.879191,0.000000
...,...,...,...,...,...,...,...
155,636e7c89be721697c01a7165,3-2,Turnaround,2,1,0.829411,0.000000
156,636e7c89be721697c01a7166,1,Layup,2,1,0.948276,0.000000
157,636e7c89be721697c01a7166,4-2,Jumpshot,2,1,0.587392,0.000000
158,636e7c89be721697c01a7166,6-1,Jumpshot,3,1,0.760245,0.000000
159,636e7c89be721697c01a7166,6-3,Jumpshot,3,1,0.858768,0.000000

In [85]:
#if close to 0, implies no insight
stats["pps_diff"] = stats["mean_epps"] - stats["mean_apps"]
#higher implies opportunity and lower apps due to randomness
#lower implies chance shots and higher apps due to luck

In [86]:
c = stars.groupby(["Zone","Shot_type","ptr"],as_index=False)[["epps","apps"]].mean().rename(columns={"epps":"mean_epps","apps":"mean_apps"})
d= stars.groupby(["Zone","Shot_type","ptr"],as_index=False)["shot_id"].count().rename(columns={"shot_id":"overall_num_attempts"})
overall_stats = c.merge(d,on=["Zone","Shot_type","ptr"],how="left").rename(columns= {"mean_epps":"overall_mean_epps","mean_apps":"overall_mean_apps"})
overall_stats

,Zone,Shot_type,ptr,overall_mean_epps,overall_mean_apps,overall_num_attempts
0,1,Dunk,2,1.235668,1.000000,52
1,1,Floater,2,0.942684,0.965686,816
2,1,Hook Shot,2,1.023774,1.000599,1669
3,1,Jumpshot,2,0.616079,0.566427,9597
4,1,Layup,2,1.151499,1.156368,198122
...,...,...,...,...,...,...
100,7-2,Step Back,3,1.039975,1.098214,560
101,7-3,Jumpshot,3,0.922349,0.919216,10819
102,7-3,Other,3,1.113938,2.000000,3
103,7-3,Pullup,3,1.031272,0.972222,108
104,7-3,Step Back,3,1.004240,1.102041,49

In [87]:
all_stats = stats.merge(overall_stats,on=["Zone","Shot_type","ptr"],how="left")

In [88]:
all_stats

,player_id,Zone,Shot_type,ptr,num_attempts,mean_epps,mean_apps,pps_diff,overall_mean_epps,overall_mean_apps,overall_num_attempts
0,6318d6a0834eb52dd66c8d64,1,Layup,2,29,1.170889,1.517241,-0.346353,1.151499,1.156368,198122
1,6318d6a0834eb52dd66c8d64,2-1,Layup,2,2,0.807694,1.000000,-0.192306,0.833721,0.843054,11985
2,6318d6a0834eb52dd66c8d64,2-2,Jumpshot,2,2,0.517870,1.000000,-0.482130,0.576986,0.572692,19672
3,6318d6a0834eb52dd66c8d64,2-2,Layup,2,1,0.768718,0.000000,0.768718,0.821394,0.808653,35595
4,6318d6a0834eb52dd66c8d64,2-2,Turnaround,2,1,0.879191,0.000000,0.879191,0.872008,0.879357,3730
...,...,...,...,...,...,...,...,...,...,...,...
155,636e7c89be721697c01a7165,3-2,Turnaround,2,1,0.829411,0.000000,0.829411,0.853958,0.938438,1933
156,636e7c89be721697c01a7166,1,Layup,2,1,0.948276,0.000000,0.948276,1.151499,1.156368,198122
157,636e7c89be721697c01a7166,4-2,Jumpshot,2,1,0.587392,0.000000,0.587392,0.616000,0.621448,32833
158,636e7c89be721697c01a7166,6-1,Jumpshot,3,1,0.760245,0.000000,0.760245,0.933326,0.920512,27086
159,636e7c89be721697c01a7166,6-3,Jumpshot,3,1,0.858768,0.000000,0.858768,0.959061,0.964386,29820

In [89]:
take_more = all_stats.loc[all_stats.num_attempts>=MIN_ATTEMPTS_VALIDITY].sort_values(by="pps_diff",ascending=False).head(NUM_RECOMMENDATIONS)
take_less = all_stats.loc[all_stats.num_attempts>=MIN_ATTEMPTS_VALIDITY].sort_values(by="pps_diff",ascending=True).head(NUM_RECOMMENDATIONS)

In [90]:
take_more

,player_id,Zone,Shot_type,ptr,num_attempts,mean_epps,mean_apps,pps_diff,overall_mean_epps,overall_mean_apps,overall_num_attempts
146,636dad4c2ea1edeeca1b479a,5-2,Jumpshot,3,4,1.056477,0.000000,1.056477,0.986936,0.994779,20685
135,6319ac9f6ef6e72cae9b8451,6-2,Jumpshot,3,3,1.050107,0.000000,1.050107,0.926652,0.920851,48832
72,6318d6a1834eb52dd66c8d6b,7-2,Jumpshot,3,5,0.977221,0.000000,0.977221,0.879664,0.869136,49242
121,6318ef376ef6e72cae67cbb1,6-2,Jumpshot,3,7,0.899090,0.000000,0.899090,0.926652,0.920851,48832
87,6318d6a1834eb52dd66c8d6c,6-1,Jumpshot,3,9,1.075296,0.333333,0.741963,0.933326,0.920512,27086
45,6318d6a1834eb52dd66c8d6a,2-2,Jumpshot,2,4,0.717584,0.000000,0.717584,0.576986,0.572692,19672
62,6318d6a1834eb52dd66c8d6b,3-1,Jumpshot,2,3,0.613212,0.000000,0.613212,0.575864,0.565279,11290
70,6318d6a1834eb52dd66c8d6b,6-2,Jumpshot,3,7,1.024072,0.428571,0.595501,0.926652,0.920851,48832
7,6318d6a0834eb52dd66c8d64,4-2,Jumpshot,2,3,0.572434,0.000000,0.572434,0.616000,0.621448,32833
85,6318d6a1834eb52dd66c8d6c,5-1,Jumpshot,3,10,1.123905,0.600000,0.523905,0.978259,1.003936,16770

In [91]:
take_less

,player_id,Zone,Shot_type,ptr,num_attempts,mean_epps,mean_apps,pps_diff,overall_mean_epps,overall_mean_apps,overall_num_attempts
26,6318d6a1834eb52dd66c8d65,5-1,Jumpshot,3,3,1.189349,3.000000,-1.810651,0.978259,1.003936,16770
91,6318d6a1834eb52dd66c8d6c,7-2,Jumpshot,3,7,0.928052,2.142857,-1.214805,0.879664,0.869136,49242
13,6318d6a0834eb52dd66c8d64,6-2,Jumpshot,3,6,0.910645,2.000000,-1.089355,0.926652,0.920851,48832
102,6318ef376ef6e72cae67cbb0,7-2,Jumpshot,3,3,0.955571,2.000000,-1.044429,0.879664,0.869136,49242
113,6318ef376ef6e72cae67cbb1,3-2,Jumpshot,2,5,0.643446,1.600000,-0.956554,0.598372,0.606459,20252
71,6318d6a1834eb52dd66c8d6b,6-3,Jumpshot,3,3,1.045828,2.000000,-0.954172,0.959061,0.964386,29820
89,6318d6a1834eb52dd66c8d6c,6-3,Jumpshot,3,6,1.105357,2.000000,-0.894643,0.959061,0.964386,29820
11,6318d6a0834eb52dd66c8d64,5-2,Jumpshot,3,5,0.955445,1.800000,-0.844555,0.986936,0.994779,20685
34,6318d6a1834eb52dd66c8d68,1,Jumpshot,2,4,0.683310,1.500000,-0.816690,0.616079,0.566427,9597
78,6318d6a1834eb52dd66c8d6c,3-1,Jumpshot,2,3,0.526511,1.333333,-0.806823,0.575864,0.565279,11290

In [92]:
params = pd.DataFrame({"league":[league],"season":[season],"TEAM_ID":[TEAM_ID],"LAST_X_GAMES":[LAST_X_GAMES],"NUM_RECOMMENDATIONS":[NUM_RECOMMENDATIONS],"MIN_ATTEMPTS_VALIDITY":[MIN_ATTEMPTS_VALIDITY]})

In [93]:
params

,league,season,TEAM_ID,LAST_X_GAMES,NUM_RECOMMENDATIONS,MIN_ATTEMPTS_VALIDITY
0,NCAAW1+,22-23,618ade0180945020656b09d9,10,10,3

In [94]:
writer =  pd.ExcelWriter(f'Inference/{league}_{TEAM_ID}_recommendations.xlsx',engine="xlsxwriter")
a= params
b= take_more.drop(columns=["overall_mean_epps",	'overall_mean_apps', 'overall_num_attempts'])
c = take_less.drop(columns=["overall_mean_epps",	'overall_mean_apps', 'overall_num_attempts'])
a.to_excel(writer, sheet_name='Parameters',startrow=1, header=False, index=False)
b.to_excel(writer, sheet_name='High Quality Low Conversion',startrow=1, header=False, index=False)
c.to_excel(writer, sheet_name='Low Quality High Conversion',startrow=1, header=False, index=False)

In [95]:
dfs = [a,b,c]

In [96]:
for i,sheet in enumerate(writer.sheets):
    worksheet = writer.sheets[sheet]

    # Get the dimensions of the dataframe.
    (max_row, max_col) = dfs[i].shape

    # Create a list of column headers, to use in add_table().
    column_settings = []
    for header in dfs[i].columns:
        column_settings.append({'header': header})

    # Add the table.
    worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

    # Make the columns wider for clarity.
    worksheet.set_column(0, max_col - 1, 12)

    # Close the Pandas Excel writer and output the Excel file.
writer.close()